body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-container {
  background: #fff;
  border-top: 4px solid #333;
}

.heading {
  width: 82%;
  margin: auto;
  padding: 2vh;
  display: flex;
}
.logo {
  width: 100px;
}
.heading ul {
  list-style-type: none;
  margin-left: auto;
}
.heading ul li {
  padding: 5px;
  float: right;
}
.heading ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 4px;
  font-size: 1em;
  font-weight: bold;
}
.heading ul li a:hover {
  color: #dbdb0f;
  transition: 0.3s ease-in-out;
}
.side-nav {
  display: none;
}
.showcase {
  background-image: url(./assets/roman-synkevych-fjj7lVpCxRE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 90vh;
}
.filter {
  background-color: rgba(241, 234, 132, 0.116);
  position: absolute;
  width: 100%;
  height: 100%;
}

.box {
  height: auto;
  padding-bottom: 2em;
  opacity: 0.94;
  position: absolute;
  top: 10%;
  left: 7%;
}
.box h1 {
  color: #fff;
  padding: 0 0 0.5em 0;
  font-size: 52px;
  margin-left: 0.6em;
}

.box p {
  color: #fff;
  font-size: 1.1em;
  line-height: 26px;
  margin-left: 2em;
  text-transform: capitalize;
  font-weight: 600;
}
.direction {
  position: absolute;
  color: #fff;
  top: 80%;
  right: 10%;
  cursor: pointer;
}
.direction p {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0.3em;
}
.bounce {
  position: relative;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  left: 2em;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn:hover {
  opacity: 0.6;
}

.first-card {
  display: grid;
  width: 70%;
  margin: auto;
  padding-top: 3%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  padding-bottom: 3em;
}

.card-bg {
  background-image: url(./assets/agric2.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 256px;
}
.card-bg2 {
  background-image: url(./assets/molases.jpg);
}
.card-bg3 {
  background-image: url(./assets/about\ -\ Copy.jpg);
}
.on-image {
  margin: 0;
  position: relative;
  top: 40%;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
  position: relative;
  text-align: center;
  padding: 1em 0.2em 1em 0.2em;
  line-height: 22px;
  font-size: 15px;
  color: #414042;
}
.first-card a {
  display: block;
  width: 60%;
  margin: auto;
  text-decoration: none;
  padding: 10px 18px;
  text-align: center;
  color: #414042;
  border: 1px solid #414042;
}
.first-card a:hover{
  opacity: 0.6;
}
.card img {
  width:100%;
  max-height: 539px;
  object-fit: contain;
}
.main-container {
  max-width: 1315px;
  margin: auto;
  overflow: hidden;
  margin-bottom: -5px;
}
.card {
  display: grid;
  max-width: 1315px;
  grid-template-columns: 41.5% 58.5%;
  max-height: 539px;
  background-color: #f1f1f1;
}
.card h2 {
  font-size: 34px;
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
  color: #dbdb0f;
}
.card p {
  line-height: 26px;
  font-family: sans-serif;
  margin-bottom: 1.5em;
}
.text {
  display: inline-block;
  margin: auto;
  margin-left: 2.2em;
  padding: 0 1.5em;
  font-size: 17px;
  color: #414042;
  
}
.learn-more {
  font-size: 15px;
  text-decoration: none;
  width: 40%;
  padding: 10px 28px;
  color: #909090;
  text-transform: capitalize;
  border: 2px solid #909090;
  text-align: center;
  margin: 0;
  font-weight: 700;
  border-radius: 4px;
}
.card:nth-child(even) {
  grid-template-columns: 58.5% 41.5%;
  background-color: #fff;
}
.card:nth-child(even) div {
  order: 1;
}
.footer {
  position: relative;
  background: #333;
}

.fcontainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #333;
  color: #fff;
  justify-content: center;
  justify-items: center;
  padding: 3em 12em 4em 12em;
  font-size: 0.8em;
}
.fcontainer ul {
  list-style-type: none;
  width: 100%;
}
.fcontainer ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 0.5em 0.1em 0.1em;
  color: #fff;
  overflow: hidden;
  line-height: 1.8;
}
.fcontainer ul li a:hover {
  color: #dbdb0f;
}
.fcontainer h3,
.fcontainer p {
  margin-top: 1.3em;
}
.one p {
  line-height: 1.8;
  margin: 0;
  padding: 0.2em;
}
.one h3,
.two h3,
.three h3,
.social h3 {
  font-size: 1em;
  padding-bottom: 0.5em;
  color: #fff;
}
.fcontainer .pad {
  margin-left: 6%;
}
.social a {
  color: #fff;
  text-decoration: none;
  line-height: 1.8;
}
.social a:hover {
  color: #e6e63e;
}
.social p {
  padding-top: 12px;
  margin: 0;
}
.copy {
  height: 15vh;
  background: #333;
  color: #fff;
  padding: 2em;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #fff;
  width: 85%;
  margin: auto;
}

/* Media Queries ....................... */
@media (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px;
  }
  .head-container {
    position: unset;
  }
  .heading {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 4;
  }
  .navbar-nav {
    display: none;
    list-style-type: none;
  }
  .side-nav {
    display: unset;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0%;
    right: 0%;
    background: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: #fff;
  }
  .side-nav li {
    list-style-type: none;
  }
  .side-nav a {
    padding: 12px 8px 12px 20px;
    text-decoration: none;
    color: #333;
    display: block;
    transition: 0.3s ease-out;
    font-size: 16px;
    font-weight: bold;
  }
  .side-nav a:hover {
    color: #e6e63e;
  }
  .side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 30px;
    margin-left: 50px;
  }
  .showcase {
    height: 90vh;
    top: 0vh;
  }
  .showcase img {
    width: 100%;
    height: 354px;
    object-fit: cover;
    padding: 0;
  }
  .main-container {
    position: unset;
  }
  .box {
    top: 10%;
    left: 2%;
  }
  .direction {
    color: #fff;
    top: 80%;
    right: 15%;
    cursor: pointer;
  }
  .direction p {
    font-size: 1em;
  }
  .main-container {
    width: 95%;
  }

  
.container{
  margin-bottom: 10em;
}
  .first-card {
    grid-template-columns: 1fr;
    width: 90%;
    margin-bottom: 3em;
  }
  .first-card a{
    width: 35%;
  }
  .card-bg {
    height: 50vh;
  }
  .card {
    grid-template-columns: 1fr;
    max-height: 650px;
    padding-bottom: 1em;
    margin-top: 1em;
  }
  .card div {
    order: 1;
  }
  .card:nth-child(even) {
    grid-template-columns: 1fr;
  }
  .card h2 {
    font-size: 28px;
    font-family: sans-serif;
  }
  .card p {
    line-height: 26px;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 0.8em;
  }
  .card img {
    width: 100%;
    max-height: 430px;
    object-fit: cover;
  }
  .text {
    margin: 1em 1.8em;
    padding: 0em;
    padding-bottom: 0.2em;
    font-size: 1em;
  }
  .learn-more {
    font-size: 14px;
    width: 40%;
    padding: 8px 18px;
  }
  .fcontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    line-height: 1.2;
    padding: 3em 2em 4em 2em;
    font-size: smaller;
  }
  .f-imageAndText img {
    display: none;
  }
  .copy {
    height: 10vh;
    padding: 1em 1%;
    font-size: 11px;
  }
}

@media (max-width: 568px) {
  .container{
    margin-bottom: 8em;
  }
  .direction p {
    margin-left: 1.2em;
  }
  .fcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 2em 1em 2.5em;
    justify-items: unset;
    margin: 0;
  }
  .one {
    padding: 0em 0em 0em 1em;
  }
  .social {
    padding: 0em 1em 0em 0em;
  }
  .three{
    padding: 0em 0 0 1em;
  }
  .copy{
    padding: 2em;
    text-align: unset;
    width: unset;
  }
 
}